version: '3.7'
services:
  api:
    build: "."
    ports:
      - "3001:3001"
    env_file:
      - ./.env
    restart: unless-stopped
    
  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: Pauper-Routine-Sneer3-Broiler
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - ./data/db:/data/db
