.root {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, var(--ingredient-card-height));
  justify-content: center;
  gap: 10px;
}
@media (min-width: 760px) {
  .grid {
    grid-template-columns: repeat(6,  var(--ingredient-card-height));
  }
}