.root {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,  var(--ingredient-card-height));
  gap: 10px;
}

@media (min-width: 760px) {
  .grid {
    grid-template-columns: repeat(6,  var(--ingredient-card-height));
  }
}